.cancel-save,
.save-details {
  font-size: 28px;
  color: greenyellow;
  cursor: pointer;
}

.save-details {
  color: red;
}

.edit-btns-container {
  display: flex;
  justify-content: end;
  padding: 20px;
  gap: 20px;
}

.edit-input {
  width: 100px;
  height: 28px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  display: block;
}

.detail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc-input-edit {
  width: 100%;
  height: 100px;
}

.btn-save-edit {
  background-color: white;
  border: none;
}

.error-msg {
  font-size: 12px;
  color: red;
}

.deletion-popup-header {
  font-size: 20px;
}

.delete-popup-cross {
  height: "28px";
  cursor: "pointer";
}
